<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='Scriptcss.css') }}" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
        <form action="#" method="post">
            <label for="fileName" id="fn">Click submit to generate email</label>
            <input type="submit" value="submit">
        </form>
        </div>
    </body>
</html>
